---
import "../../styles/global.css";
import BaseLayout from '../../layouts/BaseLayout.astro';
const base = import.meta.env.BASE_URL;

---

<BaseLayout title="International Seminar BTS Colombia" lang="en" partnersLabel="Partners" contactLabel="Contact">
  <section class="scientific-committee">
    <h2>👨‍🔬 SCIENTIFIC COMMITTEE OF THE INTERNATIONAL SEMINAR</h2>

    <p><strong>Scientific Directors:</strong> Lessby Gómez Salazar, Ph.D and Luis Eduardo Rodríguez Cheu, Ph.D.</p>
    <ul>
      <li>1. Héctor Jaramillo Suarez, Ph.D – Universidad del Valle</li>
      <li>2. Juan Diego Pulgarín, Ph.D – Universidad Nacional</li>
      <li>3. Gloria Patricia Arango, Mgs – Universidad del Valle</li>
      <li>4. Luz Edith Pérez Trejos, Mgs – Universidad del Valle</li>
      <li>5. Carlos Alberto Castillo Daza, Mgs – Fundación Universitaria del Área Andina</li>
      <li>6. Jonnier Sebastián Jaramillo, Ph.D – Universidad del Rosario</li>
      <li>7. Jenny Carolina Castiblanco Sánchez, Ph.D – Escuela Colombiana de Ingeniería Julio Garavito</li>
      <li>8. Daniel Ricardo Suarez Venegas, Ph.D – Universidad Javeriana, Bogotá campus</li>
      <li>9. Paula Milena Buitrago Florián, Mgs – Universidad del Bosque</li>
      <li>10. Wilson Alexander Sierra Arévalo, Eng. – Escuela Colombiana de Ingeniería Julio Garavito</li>
      <li>11. Pablo Eduardo Caicedo Rodríguez, Ph.D – Escuela Colombiana de Ingeniería Julio Garavito</li>
    </ul>
  </section>

  <section class="submission-guidelines">
    <h2>📄 Summary Submission Guidelines</h2>
    <p>Please review the document with instructions regarding format, content, and length before completing the submission form.</p>
    <a href={`${base}/Abstract_Template_Seminar_BTS.pdf`} target="_blank" class="guideline-btn">
      📥 Download PDF Guidelines
    </a>
    <a id="formulario-link" class="guideline-btn">
    📤 Upload abstract PDF
    </a>
    <script>
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());
      const tipo = params.tipo;
      // console.log(tipo)
      const link = tipo === "bts"
       ? "https://docs.google.com/forms/d/e/1FAIpQLSfIch6rVgFc_aHOj2UUrmQzugll45-ddLwhZOGcZp6FnWmqQQ/viewform?usp=pp_url&entry.1521862496=BTS+Techonology+User"
       : "https://docs.google.com/forms/d/e/1FAIpQLSfIch6rVgFc_aHOj2UUrmQzugll45-ddLwhZOGcZp6FnWmqQQ/viewform?usp=pp_url&entry.1521862496=Student";
       const anchor = document.getElementById("formulario-link");
        if (anchor) {
          anchor.href = link;
          anchor.textContent = tipo === "bts"
            ? "📤 Upload BTS experience"
            : "📤 Upload abstract as student";
        }

    </script>
  </section>


</BaseLayout>